<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
</head>
<body>
    <h1>My Webpage</h1>

    {{<li><a href="${request.route_url('month_view', mnt=item)}">{{item}}</a></li>}}

    {# a comment #}
</body>
</html>